@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:	#E9967A;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:	#F08080;
    font-size: 150%;
}
ul{
    list-style-type:none;
    margin: 0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
    color: black;
}
a {
    color:	#DC143C;
    text-decoration:none;
}
p1{
    color: 	#CD5C5C;
}