@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:#fffefe;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
    font-size: 150%;
}
ul{
    list-style-type:none;
    margin: 0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
    color: black;
}
a {
    color:rgb(3, 3, 3);
    text-decoration:none;
}
p1{
    color: #000;;
}